/* ==========================================
   HEADER
========================================== */

.header{

    position:sticky;

    top:0;

    z-index:1000;

    backdrop-filter:blur(18px);

    background:rgba(250,250,248,.82);

    border-bottom:1px solid var(--border);

}

.navbar{

    height:92px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

.logo img{

    height:58px;

}

.nav{

    display:flex;

    align-items:center;

    gap:40px;

}

.nav a{

    font-size:15px;

    font-weight:500;

    color:var(--text-light);

    transition:.3s;

}

.nav a:hover{

    color:var(--text);

}